/* Estilos generales */
body {
    background-color: beige; /* Color beige para el fondo de la página */
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Estilos para el título */
h1 {
    text-align: center; /* Centra el título */
    font-weight: bold; /* Hace que el título sea más audaz */
}

/* Estilos de la tabla */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border: 2px solid #000; /* Borde de la tabla con grosor 2px y color negro */
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #000; /* Borde de las celdas con grosor 1px y color negro */
}

.container {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black; /* Cambiar color del botón a negro */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px; /* Agregar margen entre los botones */
}

.btn:hover {
    background-color: darkgrey; /* Cambiar color de fondo al pasar el mouse */
}
