<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estiloListadoEstudiantes.css">
    
    <title>Detalles estudiante</title>
</head>
<body>
    <h1 th:text="'Detalles de ' + ${estudiante.nombre} + ' ' + ${estudiante.primerApellido}"></h1>

        <li th:text="${estudiante.foto}"></li> 

        <div>
            <h3>Curso:</h3>
            <ul>
                <li th:each="curso : ${estudiante.curso}">
                    <span th:text="${curso.nombre}"></span>
                   <div><span th:text="'Horario: ' + ${curso.horario}"></span></div>
                </li>
            </ul>
        </div>
        

        <div>
            <h3>Teléfonos:</h3>
            <ul>
                <li th:each="telefono : ${estudiante.telefonos}">
                    <span th:text="${telefono.numero}"></span>
                </li>
            </ul>
        </div>
        
        <div>
            <h3>Correos:</h3>
            <ul>
                <li th:each="correo : ${estudiante.correos}">
                    <span th:text="${correo.correo}"></span>
                </li>
            </ul>
        </div>
        
    </body>
    </html>
    