<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="/estiloListadoEstudiantes.css"> 
    <title>Formulario Alta Modificacion</title>

</style>
</head>
<body>
    <h1>Formulario Alta/Modificación de Estudiante</h1>

    <!-- IMPORTANTE: al realizar una actualizacion se deben borrar los telefonos y correos para 
    que no se duplicen al tener en cascade:PERSIST -->
    
    <fieldset>
        <legend>Formulario</legend>
        <form th:object="${estudiante}" th:action= "@{/persistir}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}">
            <label for="primerApellido">Primer Apellido</label>
            <input type="text" id="primerApellido" th:field="*{primerApellido}">
            <label for="segundoApellido">Segundo Apellido:</label>
            <input type="text" id="segundoApellido" th:field="*{segundoApellido}" >
            <label for="fechaMatriculacion">Fecha de Matriculacion:</label>
            <input type="date" id="fechaMatriculacion" th:field="*{fechaMatriculacion}">
            <label for="totalAsignaturas">Total de asignaturas:</label>
            <input type="text" id="totalAsignaturas" th:field="*{totalAsignaturas}">
            <fieldset>
                <legend>Genero</legend>
                <label for="hombre">Hombre</label>
                <!-- para un radio boton es necesario usar una label para mejor funcionalidad -->
                <input type="radio" name="genero" id="hombre" value="HOMBRE" th:field="*{genero}">
                <label for="mujer">Mujer</label>
                <input type="radio" name="genero" id="mujer" value="MUJER" th:field="*{genero}">
                <label for="otro">Otro</label>
                <input type="radio" name="genero" id="otro" value="OTRO" th:field="*{genero}">
            </fieldset>
            <label for="curso">Curso</label>
            <select name="curso" id="curso">
                <option></option>
                <option th:each=" curso : ${cursos}"
                        th:value="${curso.id}"
                        th:text="${curso.nombre}"
                        th:selected="${estudiante.id != 0 and estudiante.curso.id == curso.id}">
                    </option>
            </select>
            <div class="form-group">
            <label for="telefonos">Telefono</label>
            <input type="text" id="telefonos" name="numerosTel" 
                        placeholder="Uno o varios separados por ;" 
                        th:value="${numerosTelefono}">
                    </div>
                    <div class="form-group"></div>
            <label for="correos">Correo</label>
            <input type="text" id="correos" name="direccionesCorreo"
                        placeholder="Uno o varios separados por ;"
                        th:value="${direccionesDeCorreo}">
                    </div>
                    <div>
                    <input type="file" name="file">
                </div>
                    <div class="form-group center-input">             
            <input type="submit" value="Alta/Modificacion">
                    </div>
            <!-- La diferencia entre el input y el button, es que en el primero
             los datos que vas rellenando se guardan -->
        </form>

    </fieldset>
</body>
</html>